<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 p-0">
            <img src="assets/login_picture.png" width="100%" class="login_image" alt="tech_logo">
        </div>

        <div class="col-md-6 text-center">
            <div class="mt-5">
               <img src="assets/sentCode.png" class="sentCodeImg"  alt="Sent Code">
            </div>
            <h2 class="sent">Sent!</h2>
            <b>We've sent a code to the register email address associated with your account.</b>
            <p>Check your inbox (and maybe your spam folder) for the code.</p>
        </div>
    </div>

</div>