<!-- Navbar -->
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="assets/ltechlogo.png" alt="TechLogo" width="115px" height="31px">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto nav nav-underline">
                <li class="nav-item">
                    <a class="nav-link" href="#">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Catalog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Product</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Inventory</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Microsite</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Orders</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Reports</a>
                </li>
            </ul>
            <div class="d-flex me-5">
                <i class="fas fa-search searchBtn"></i>
                <i class="fa-regular fa-bell bellBtn"></i>
                <div class="dropdown">
                    <button class="btn dropdown-btn dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-regular fa-user"></i> &nbsp; &nbsp;&nbsp;Admin Name
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li><a class="dropdown-item" href="#"><i class="fa-regular fa-user"></i>&nbsp; My Profile</a>
                        </li>
                        <li><a class="dropdown-item" href="#"><i class="fa-solid fa-gear"></i>&nbsp; Settings</a></li>
                        <li><a class="dropdown-item" href="#"><i class="fa-solid fa-arrow-right-from-bracket"></i>&nbsp;
                                Log out</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>

<section class="hero-section">
    <div class="container">
        <div class="d-flex flex-wrap justify-content-between">
            <div>
                <p class="m-0 welcome">Welcome back,<span style="color:#FFFFFFCC;"> Wholemart!</span></p>
                <p class="monday">Monday, 19 March 2024</p>
            </div>
            <div class="d-flex flex-wrap">
                <div>
                    <p class="download m-2">Download Reports :</p>
                </div>
                <div>
                    <button class="btn yearDropdown dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        2024
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li class="dropdown-item">2024</li>
                        <li class="dropdown-item">2025</li>
                        <li class="dropdown-item">2026</li>
                    </ul>
                </div>
                <button class="downloadBtn mx-2"><i class="fa-solid fa-download "></i> </button>
            </div>
        </div>
    </div>
</section>

<!-- chards section  -->
<section class="cardChartSection">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-12 mb-4">
                <div class="card cardSection highlight-border">
                    <div class="card-body">
                        <div class="d-flex">
                            <div>
                                <img src="assets/customers.png" class="customersImg mb-3" alt="customers">
                            </div>
                            <div>
                                <h6 class="card-title m-2">Customers</h6>
                                <p class="card-subtitle m-2">10,000</p>
                            </div>
                        </div>

                        <p class="card-text">
                            <i class="fa-solid fa-arrow-trend-down" style="color: #f91f06;"></i> <span
                                class="customerSpan mx-1">10.9%</span> <span class="since mx-2">Since Last Week</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-12 mb-4">
                <div class="card cardSection highlight-border">
                    <div class="card-body">
                        <div class="d-flex">
                            <div>
                                <img src="assets/catalog.png" class="customersImg mb-3" alt="customers">
                            </div>
                            <div>
                                <h6 class="card-title m-2">Catalogs</h6>
                                <p class="card-subtitle m-2">120</p>
                            </div>
                        </div>

                        <p class="card-text">
                            <i class="fa-solid fa-arrow-trend-up" style="color: #1da20b;"></i> <span
                                class="customerSpan mx-1">2%</span> <span class="since mx-2">Since Last Week</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-12  mb-4">
                <div class="card cardSection highlight-border">
                    <div class="card-body">
                        <div class="d-flex">
                            <div>
                                <img src="assets/sales person.png" class="customersImg mb-3" alt="customers">
                            </div>
                            <div>
                                <h6 class="card-title m-1">Sales Persons</h6>
                                <p class="card-subtitle m-lg-2 m-md-0">100</p>
                            </div>
                        </div>

                        <p class="card-text">
                            <i class="fa-solid fa-arrow-trend-up" style="color: #1da20b;"></i> <span
                                class="customerSpan mx-1">10.9%</span> <span class="since mx-2">Since Last Week</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-12  mb-4">
                <div class="card cardSection p-0 highlight-border">
                    <div class="card-body p-0">
                        <img src="assets/revenue.png" width="100%" height="100%" style="border-radius: 22px;" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- chart section -->

    <div class="container py-3 mt-5">
        <!-- Sales Analytics By Revenue -->
        <div class="row mb-3">
            <div class="col-lg-8 col-md-12 col-sm-12">
                <h5 class="chartsHeading">Sales Analytics By Revenue</h5>
                <div class="card salesCard">
                    <div class="card-body">
                        <div id="salesRevenueChart" style="width:100%; height: 300px;"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12">
                <h5 class="chartsHeading">Top 5 Cities Sales</h5>
                <div class="card salesCard">
                    <div class="card-body">
                        <div id="topCitiesChart" style="width:100%; height: 300px;"></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Product Wise Sales Report -->
        <div class="row mb-3">
            <div class="col-lg-6 col-md-12">
                <h5 class="chartsHeading">Product Wise Sales Report</h5>
                <div class="card mt-3 salesCard">
                    <div class="card-body">
                        <div id="productSalesChart" style="width:100%; height: 300px;"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <h5 class="chartsHeading" style="font-size: 16px;">Customer Wise Catalog Report</h5>
                <div class="card mt-3 salesCard">
                    <div class="card-body">
                        <div id="catalogReportChart" style="width:100%; height: 300px;"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <h5 class="chartsHeading">Quick Support</h5>
                <div class="card mt-3 supportCard">
                    <div class="card-body p-0">
                        <img src="assets/quickSupport.png" alt="Support" width="100%">
                    </div>
                </div>
            </div>
        </div>

        <!-- Bottom Row Reports -->
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <h5 class="chartsHeading">Top 3 Sales Catalogs</h5>
                <div class="card salesCard">
                    <div class="card-body">
                        <div id="topSalesCatalogChart" style="width:100%; height: 300px;"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <h5 class="chartsHeading">Microsites Wise Report</h5>
                <div class="card salesCard">
                    <div class="card-body">
                        <div id="micrositesReportChart" style="width:100%; height: 300px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>