<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 p-0">
            <img src="assets/login_picture.png" width="100%" class="login_image" alt="tech_logo">
        </div>

        <div class="col-md-6">
            <div class="m-5">
                <p class="forget-password">Forgot-Password</p>
                <div class="hr"></div>
                <div class="message mt-5">
                    <b >Please enter the email address you used to register, we'll send you a link to reset your password.</b>
                </div>
                <form>
                <div class="mt-5 w-75">
                        <div class="mb-5">
                            <label for="email" class="form-label ms-1">Register Email</label>
                            <input type="email" class="form-control" id="email" placeholder="Enter register email" required>
                        </div>
                        <button type="submit" class="btn btn-primary w-100" (click)="sendCode()">Send Code</button>
                </div>
            </form>
            </div>
        </div>
    </div>

</div>